$font_size: 15px;

.alert_message_div{
    align-items: center;
    color: #fff;
    display: flex;
    height: $font_size;
    line-height: $font_size;
    overflow:hidden;
    width: 100%;
    white-space:nowrap;
    z-index: 1;
}
.alert_message_div ul {
    animation: flowing 5s linear infinite;
    font-size: $font_size;
    transform:translateX(100%);
    margin: 0;
    padding: 0;
}
.alert_message_div ul li{
    display: inline-block;
    padding-right: 10px;
}
@keyframes flowing {
    0% { transform:translateX(50%); }
    100% { transform:translateX(-100%); }
}